footer {
  background-color: #362B3D;
  color: white;
  padding: 50px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
  color: white;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}
