<footer class="footer">
  <div class="container">
    <p class="logo"> AdamAimeAngular.com </p>
    <div>
      <address>
        <p>4 Av. de l'Horizon</p>
        <p>59650 Villeneuve-d'Ascq</p>
        <p>03 20 00 00 00</p>
      </address>
    </div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.0955258592912!2d3.1507568770453775!3d50.606762476096094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d7b048ecbc97%3A0xb7bd19de7bc0e94!2sM2i%20Formation!5e0!3m2!1sfr!2sfr!4v1725884202921!5m2!1sfr!2sfr"
        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="footer-content">
    <p>&copy; 2024 Java Poec | Lucie & Adam | Tous droits réservés</p>
    <ul class="footer-links">
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="cart">Panier</a></li>
      <li><a routerLink="admin">Admin</a></li>
    </ul>
  </div>
</footer>
