<main>
  <section>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      @if (errorMessages.length > 0) {
        <ul class="error">
          @for (error of errorMessages; track error) {
            <li>{{ error }}</li>
          }
        </ul>
      }
      <div>
        <label for="name">Nom</label>
        <input id="name" formControlName="name">
      </div>
      <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>

      <div>
        <label for="price">Prix</label>
        <input id="price" formControlName="price" type="number">
      </div>

      <div>
        <label for="imageUrl">Url Image</label>
        <input id="imageUrl" formControlName="imageUrl">
      </div>
      <div>
        <label for="stock">Stock</label>
        <input id="stock" formControlName="stock" type="number">
      </div>
      <button type="submit">Sauvegarder</button>
    </form>
  </section>
</main>
