<main>
<section>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    @if(errorMessages.length > 0) {
      <ul class="error">
        @for (error of errorMessages; track error) {
          <li>{{error}}</li>
        }
      </ul>
    }
    <div>
      <label for="name">Nom</label>
      <input id="name" formControlName="name" >
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" ></textarea>
    </div>

    <div>
      <label for="price">Prix</label>
      <input id="price" formControlName="price" type="number" >
    </div>

    <div>
      <label for="imageUrl">Url Image</label>
      <input id="imageUrl" formControlName="imageUrl" >
    </div>
    <button type="submit">Sauvegarder</button>
  </form>
</section>

<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Url</th>
    <th>Descritpion</th>
    <th>Prix</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>

    @for (p of products; track p; let i = $index ) {
      <tr>
        <td>{{p.name}}</td>
        <td>{{p.imageUrl}}</td>
        <td>{{p.description}}</td>
        <td>{{p.price}}</td>
        <td><button (click)="deleteToClicked(i)" type="button">Delete</button></td>
      </tr>
    }
  </tbody>
</table>
</main>
