body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
  color: var(--dark);
}


form {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: var(--primary);
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: var(--dark);
  outline: none;
}

button {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  padding: 40px;
  align-items: center;
}

fieldset {
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #062234;
}

small {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}


fieldset div {
  margin-bottom: 10px;
}

fieldset legend {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0 10px;
}

button[type="button"] {
  background-color: #062234;
  margin-top: 10px;
}

button[type="button"]:hover {
  background-color: #264f6c;
}


@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  input, textarea {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px 15px;
  }
}

/*############*/

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

thead {
  background-color: #f2f2f2;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
  list-style: none;
  font-weight: bold;
}

